@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

/* titolo {
    font-family: "Neonderthaw", cursive;
    font-weight: 600;
    font-style: normal;
} */

.wrapper {
    background-color: #000;
}

.results {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    color:  #39ff14;
    font-size: 2.5rem;
    font-weight: bold;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 70px;
}

.results:hover {
    background-color: #39ff14;
    cursor: pointer;
    color: #050801;
    box-shadow: 0 0 5px #39ff14,
                0 0 25px #39ff14,
                0 0 50px #39ff14,
                0 0 200px #39ff14;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

.results:first-child {
    filter: hue-rotate(-120deg);
}

.results:nth-child(2) {
    filter: hue-rotate(60deg);
}

.results:nth-child(3) {
    filter: hue-rotate(30deg);
}

.results:nth-child(4) {
    filter: hue-rotate(0deg);
}

.results:nth-child(5) {
    filter: hue-rotate(-30deg);
}

.results:last-child{
    filter: hue-rotate(-60deg);
}

.results span {
    position: absolute;
    display: block;
}

.results span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #39ff14);
    animation: animate1 1s infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.results span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #39ff14);
    animation: animate2 1s infinite;
    animation-delay: .25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

.results span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #39ff14);
    animation: animate3 1s infinite;
    animation-delay: .5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    100% {
        right: 100%;
    }
}

.results span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #39ff14);
    animation: animate4 1s infinite;
    animation-delay: .75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
}


#get__started__btn {
    color: #39ff14;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}


#get__started__btn:hover {
    background-color: #39ff14;
    box-shadow: 0 0 5px #39ff14,
    0 0 25px #39ff14,
    0 0 50px #39ff14,
    0 0 200px #39ff14;
    color: #050801;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

#remove__numbers__btn {
    color: #FF3131;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

#remove__numbers__btn:hover {
    background-color: #FF3131;
    box-shadow: 0 0 5px #FF3131,
    0 0 25px #FF3131,
    0 0 50px #FF3131,
    0 0 200px #FF3131;
    color: #050801;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
